*.7z
*.apk
*.backup
*.bak
*.bk
*.bz2
*.deb
*.doc
*.docx
*.gz
*.gzip
*.img
*.iso
*.jar
*.jpeg
*.jpg
*.log
*.ods
*.part
*.pdf
*.pkg
*.png
*.pps
*.ppsx
*.ppt
*.pptx
*.ps
*.pyc
*.rar
*.swp
*.sys
*.tar
*.tgz
*.tmp
*.xls
*.xlsx
*.xz
*.zip
**/*venv/
/data/
/docs/**/*.pdf
.cache
.coverage*
/ui/coverage
_book
.coverage_*
**/.~lock*
*-lock.json
*cov_*.xml
lcr/generator/data/*.xml
migrations.txt
migration_indexes.txt
mypy-*.log.files.txt
*test_*.xml
**/TESTS-*xml
/handle-venv/
.idea/
.isort.cfg
node_modules/
**.directory
api/tests/report_checker/generated_data/**/*.json
api/tests/report_checker/generated_reports/**/*.*
venv
python-venv
ui/app/ingestion-templates/
.pytest_cache/
.python-version
.vscode/
*.egg-info/
.tox/
/.gtm/
.cargo/
fast_ingestor/.expected
fast_ingestor/target
venv*
base_image/base_service/api/static/swagger-ui/
.expected
input/
target/
session.txt
